@use "./partials/variables" as *;
@use "./partials/mixins" as *;

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
